h1 {
  text-align: center;
}

.punchbag {
  width: 400px;
  height: 500px;
  padding: 10px;
  margin: auto;
  background: url(img/bag.png) no-repeat center;
}

.burst {
  background: url(img/bag-burst.png) no-repeat center;
}

.controls {
  margin: 10px auto;
  text-align: center;
  margin: 0 auto 20px auto;
}

.health-bar {
  width: 100%;
  height: 20px;
  background: red;
}

.life {
  width: 300px;
  margin: auto;
  border: 1px solid #000;
}
